# VsCode files
.vscode/*
.github

# Documentation whitelist
docs/*
!docs/*.md
!docs/*.tex
!docs/*.pdf
!docs/core/

# C files
**/build/*
build/
.cache/
*.o
*.a
*.exe

# Mac files
**/.DS_Store
.DS_Store

#env fle
**/.env
