VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_PROJECT_NAME=""
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_TABLE_ID_SIMULATIONS=""
VITE_APPWRITE_BUCKET_ID_SIMULATIONS=""
VITE_APPWRITE_ENDPOINT=""
VITE_RAYTRACER_URL="http://127.0.0.1:8080"
